body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.counterdiv {
  text-align: center;
  margin-left: 35%;
  width: 30%;
  border: solid 2px darkblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Counter h2 {
  margin: 10px;
}

.Counter button {
  background-color: lightblue;
  width: 20%;
  height: 50%;
}

img {
  width: 20%;
}
